body{
    font-family: sans-serif;
    width: 50%;
    margin: auto;
}

img {
    width: 600x;
    height: 600px;
}

.card {
    box-shadow: 10px 10px 5px 0px rgba(238, 238, 238, 1);
    margin: 15px;
    text-align: center;
    padding-bottom: 10px;
}

.profilepicture {
    width: 70px;
    height: 70px;
}

iframe{
    display: none;
}